.itemWrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.checkboxWrapper {
    display: flex;
}
.checkboxWrapper input {
    width: 16px;
    height: 16px;
    align-items: center;
    margin: 0;
}

.contentText {
    flex-grow: 1;  
}

.todayText{
    font-size: 14px;
    color: rgb(104, 104, 104);
}

.contentTextDone {
    text-decoration: line-through;
    flex-grow: 1;
}